#include "Shared.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = $(WIDGET_BUNDLE_IDENTIFIER)
PRODUCT_NAME = MealsWidget
INFOPLIST_FILE = MealsWidget/Info.plist
CODE_SIGN_ENTITLEMENTS = MealsWidget/MealsWidget.entitlements
GENERATE_INFOPLIST_FILE = YES
INFOPLIST_KEY_CFBundleDisplayName = Meals
SKIP_INSTALL = YES
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @executable_path/../../Frameworks
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
ASSETCATALOG_COMPILER_WIDGET_BACKGROUND_COLOR_NAME = WidgetBackground
APPLICATION_EXTENSION_API_ONLY = YES
SUPPORTS_MACCATALYST = NO
